.app-question-navigator {
  background-color: var(--theme-color-2);
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  transition: all 0.3s ease-out;
  z-index: 8;
}

@media (max-width: 750px) {
  .app-question-navigator {
    position: absolute;
    right: 0;
    width: 200px;
    display: flex;
    transform: translateX(100%);
  }

  .app-question-navigator--visible {
    transform: none;
  }
}

.app-question-navigator__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  margin: 4rem;
  row-gap: 1rem;
}

.app-question-navigator__button {
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--theme-color-1);
  margin: 0.5rem;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
}

.app-question-navigator__button:hover {
  transform: translateY(-2px);
  background-color: var(--theme-color-1);
}

.app-question-navigator__button--visited,
app-question-navigator__button--visited:hover {
  background-color: var(--color-medium) !important;
}

.app-question-navigator__button--answered,
app-question-navigator__button--answered:hover {
  background-color: var(--color-easy) !important;
}

.app-question-navigator__button--selected {
  border: 2px solid white;
}

.app-question-navigator__button--incorrect,
app-question-navigator__button--incorrect:hover {
  background-color: var(--color-hard) !important;
}
